<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="POST" action="/new">
    <h1>New Message</h1>
    <label for="messageName">Name</label>
    <input name="messageName" id="new-name" type="text">
    <label for="messageText">Message</label>
    <input name="messageText" id="new-message" type="text">
    <button>Submit</button>
  </form>
</body>
</html>