<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% messages.map((message) => { %>
      <div>
        <h1>Posted by <%= message.user %></h1>
        <p><%= message.text %></p>
        <span><%= message.added %></span>
      </div>
    <% }) %>
    <a href="/new">New</a>
  </body>
</html>
